@import 'reset.css';

#memoryboard{
    max-width: 90%;
    width: auto;
    height: auto;
    margin: 0px auto;
    background: #ccc;
}
a{
    float: left;
}
img{
    width: 24px;
    height: 24px;
    content:url(../pics/0.png);
}

