@import 'reset.css';

#memoryboard{
    max-width:90%;
    float: left;
}
table{
    float: left;
    background: #CC0033;
    margin-top: 100px;
    margin-left: 40px;
    margin-bottom: 10px;
    
}
a{
    width: 75px;
    max-width: 75px;
    max-height: 75px;
}
img{
    width: 75px;
    max-width: 75px;
    max-height: 75px;
    padding: 5px;
}
p{
   color: #CC0033;
   clear: both;
   font-size: 1em;
   margin-left: 40px;

}
