body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  background: #aa5588;
}
#wrapper {
  width: 100%;
  min-height: 100%;
}
header {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
  height: auto;
}
#headline {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
  margin-left: 20px;
  font-family: 'Princess Sofia', cursive;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
  color: #552255;
  font-size: 4em;
}
main {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
  height: auto;
}
#chatform {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
  margin-right: 8.33333333%;
  margin-right: auto;
  margin-left: auto;
  min-height: 0px;
  height: auto;
}
textarea {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 90%;
  padding: 5px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 15em;
  border: 3px dotted #552255;
  color: #000;
}
textarea:focus {
  outline: none;
  border-style: none;
}
button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 200px;
  padding: 5px;
  border: 1px solid #552255;
  background: #552255;
  color: #fff;
  margin-left: 0px;
  margin-top: 10px;
}
aside {
  display: inline;
  float: left;
  width: 91.66666667%;
  margin: 0 0%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 10px;
  height: auto;
  min-height: 0;
  background: #d89ed8;
  border: 3px dotted #552255;
}
#numberofmessages {
  font-family: 'Princess Sofia', cursive;
  color: #552255;
  margin-left: 10px;
}
ul {
  list-style-type: none;
}
li {
  height: auto;
  background: #552255;
  margin-bottom: 10px;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}
#chatTxt {
  font-size: 0.7em;
}
#deletebutton {
  background-image: url("pics/clock.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}
#timestampbutton {
  background-image: url("pics/delete.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}
#timestamp {
  color: #fff;
  font-size: 0.6em;
  font-family: 'Princess Sofia';
  position: relative;
  bottom: 10px;
  left: 350px;
}
