body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  background: #aa5588;
}
#wrapper {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  min-height: 100%;
}
header {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  height: 150px;
}
#headline {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  margin-left: 20px;
  font-family: 'Princess Sofia', cursive;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
  color: #552255;
  font-size: 8em;
}
main {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  height: auto;
  min-height: 700px;
}
#chatform {
  display: inline;
  float: left;
  width: 56.25%;
  margin: 0 1.04166667%;
  height: auto;
  min-height: 700px;
}
textarea {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  margin-left: 20px;
  margin-top: 100px;
  width: 35em;
  height: 15em;
  border: 3px dotted #552255;
  color: #000;
}
textarea:focus {
  outline: none;
  border-style: none;
}
button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 200px;
  padding: 5px;
  border: 1px solid #552255;
  margin-left: 20px;
  margin-top: 20px;
}
aside {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04166667%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 100px;
  height: auto;
  min-height: 700px;
  background: #fff;
  opacity: 0.5;
  border: 3px dotted #552255;
}
#numberofmessages {
  font-family: 'Princess Sofia', cursive;
  color: #552255;
  margin-left: 10px;
}
ul {
  list-style-type: none;
}
li {
  height: auto;
  background: #552255;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: -20px;
}
#deletebutton {
  background-image: url("pics/clock.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
#timestampbutton {
  background-image: url("pics/clock.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
#chatTxt {
  color: #fff;
  margin-left: 10px;
}
#timestamp {
  color: #fff;
  font-size: 0.6em;
  font-family: 'Princess Sofia';
  position: relative;
  bottom: 10px;
  left: 350px;
}
