body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  background: #aa5588;
}
#wrapper {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  margin-right: auto;
  margin-left: auto;
  min-height: 100%;
}
header {
  display: inline;
  float: left;
  width: 89.58333333%;
  margin: 0 1.04166667%;
  margin-left: 9.375%;
  height: 150px;
}
#headline {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  margin-left: 30px;
  font-family: 'Princess Sofia', cursive;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
  color: #552255;
  font-size: 8em;
}
main {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  height: auto;
  min-height: 700px;
}
#chatform {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04166667%;
  margin-left: 9.375%;
  height: auto;
  min-height: 700px;
}
textarea {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  margin-left: 20px;
  margin-top: 100px;
  width: 35em;
  height: 15em;
  border: 3px dotted #552255;
  color: #000;
}
textarea:focus {
  outline: none;
  border-style: none;
}
button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 200px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 20px;
  background: #552255;
  color: #fff;
  border: 1px solid #552255;
}
aside {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04166667%;
  margin-left: 17.70833333%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 100px;
  height: auto;
  min-height: 700px;
  background: #d89ed8;
  border: 3px dotted #552255;
}
#numberofmessages {
  font-family: 'Princess Sofia', cursive;
  color: #552255;
  margin-left: 10px;
}
ul {
  list-style-type: none;
  width: 100%;
  height: auto;
}
li {
  max-width: 90%;
  min-width: 90%;
  height: auto;
  background: #552255;
  color: #fff;
  margin-left: -20px;
  margin-bottom: 10px;
  float: left;
  font-size: 0.7em;
  font-family: 'Helvetica', Arial, Sans-Serif;
}
#chatdiv {
  max-width: 90%;
  min-width: 90%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  float: left;
}
#buttondiv {
  max-width: 90%;
  min-width: 90%;
  margin-right: 5%;
  float: left;
  height: auto;
  margin-bottom: 20px;
}
#deletebutton {
  background-image: url("pics/delete.png");
  background-repeat: no-repeat;
  width: 22px;
  max-width: 22px;
  height: 22px;
}
#timestampbutton {
  background-image: url("pics/clock.png");
  background-repeat: no-repeat;
  width: 22px;
  max-width: 22px;
  height: 22px;
}
#timestamp {
  color: #fff;
  height: auto;
  font-size: 0.6em;
  font-family: 'Princess Sofia';
  float: none;
  margin-left: 5%;
  max-width: 90%;
  min-width: 90%;
}
