@import 'reset.css';

@keyframes spin
{
	from { transform: rotate(0deg);   opacity: 0.2; }
	50%  { transform: rotate(180deg); opacity: 1.0; }
	to   { transform: rotate(360deg); opacity: 0.2; }
}
body{
    background: url('pics/DSC_6332.JPG') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#desktopfooter{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
}
menu{
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: 100%;
   padding: 5px;
   margin-right: auto;
   margin-left: auto;
}
.menubutton{
    width: 50px;
    height: 50px;
    background: url(pics/desktop_medium.png) no-repeat;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.templatewrapper{
    width: auto;
    height: 450px;
    background-color: #f5f5dc;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 5px;
   
}
.templateheader{
    width: 100%;
    height: 40px;
    margin-top: 0px;
    background-color: #eaeab4;
}
.templateicon{
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 5px;
    content: url('pics/desktop_small.png');
   
}
.templateheadertext{
    float: left;
    width: 80%;
    color: #000;
    padding-left: 10px;
    margin-top: 10px;
    font-family: 'Princess Sofia';
    font-size: 1em;
    
}
.templateclosebutton{
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-right: 5px;
    background: url(pics/close.png) no-repeat;
    border: none;
}
.templatecontent{
    width: 350px;
    height: 350px;
    float: left;
    overflow: scroll;
}
.templatefooter{
    height: 40px;
    width: 100%;
    margin-top: 370px;
    background-color: #eaeab4;
}
.activityindicator{
    margin-left: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.activityindicatorimage{
	width: 16px;
	height: 16px;
    content: url(pics/ajax-loader.gif) no-repeat;
}
.activityindicatortext{
    color: #000;
    font-family: 'Princess Sofia';
    font-size: 1em;
    float: left;
    padding-right: 10px;
}
.imagewrapper{
    width: 105px;
    height: 105px;
    margin: 5px;
    border: 1px solid #eaeab4;
    float: left;
    border-radius: 3px;
    background-color: #fff;
}
.thumbnailimage{
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    transform: translateY(-50%);
}